<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breathe and Play</title>
    <title></title>
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="sound sound-off"></div>
    <div class="pause pause-off"></div>
    <div class="fullScreen fullScreen-off"></div>
    <div class="score"></div>
    <div class="bonusIcons bonusBig"></div>
    <div class="bonusIcons bonusSlow"></div>
    <div class="bonusIcons bonusSmall"></div>
    <div class="bonusIcons bonusFast"></div>

    <canvas id="canvas">
        Your browser dont support this game.
    </canvas>
    <div id="menu">
        <div id="progress">
            <div id="percent">Загрузка: <span id="p"></span></div>
            <progress id="progress-bar" value="0" max="100"></progress>
        </div>
        <div id="main">
            <h1>Дыши-Играй</h1>
            <!--<div id="circle"></div> -->
            <ul>
                <li><a href="javascript:void(0)" class="button play">Начать игру</a></li>
                <li><a href="javascript:void(0)" class="button records">Рекорды</a></li>
                <li><a href="javascript:void(0)" class="button credits">Создатели</a></li>
                <li><a href="javascript:void(0)" class="button exit">Выход</a></li>
            </ul>
            <form id="inputButtons">
                <span>Управление:</span>
                <input type="radio" id="keyboard" name="input" value="keyboard" checked>
                <label for="keyboard">Клавиатура</label>
                <input type="radio" id="breathe" name="input" value="serialport">
                <label for="breathe">Дыхание</label>
            </form>
        </div>
        <div id="records">
            <h2>Рекорды</h2>
            <form id="storageButtons">
                <input type="radio" id="local" name="storage" value="local" checked>
                <label for="local">На этом компьютере</label>
                <input type="radio" id="online" name="storage" value="online">
                <label for="online">В мире</label>
            </form>

            <div id="wrapperTable">
                <table id="recordsTable">
                    <tr>
                        <td>Место</td>
                        <td>Имя</td>
                        <td>Очки</td>
                    </tr>
                </table>
            </div>
            <div class="paginatorWrapper">
                <ul id="paginator">
                    <li id="prevPage"><a href="#"><div></div></a></li>
                    <li id="firstPage"><a href="#">Начало</a></li>
                    <li id="currentPage">1</li>
                    <li id="lastPage"><a href="#">Конец</a></li>
                    <li id="nextPage"><a href="#"><div></div></a></li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="button back">Назад</a>
        </div>
        <div id="credits">
            <h2>Создатели</h2>
            <ul>
                <li class="hardware">Устройство для дыхания: <span class="openLink" title="https://vk.com/id5694198">Алексей Максимов</span> </li>
                <li class="artwork">Игровая графика: <span class="openLink" title="https://vk.com/id202476197">Мария Заволокина</span></li>
                <li class="developer">Разработчик: <span class="openLink" title="https://vk.com/digitman">Евгений Кашин</span></li>
                <li class="music">Музыка: <span class="openLink" title="http://www.soundimage.org">Eric Matyas</span></li>
            </ul>
            <a href="javascript:void(0)" class="button back">Назад</a>
        </div>
    </div>
    <div id="errorMessage">
        <a href="javascript:void(0)" class="close" title="Закрыть"></a>
    </div>
    <div id="helpInfo">
        <h3>Сделайте выдох чтобы лететь</h3>
        <ul>
            <li><a href="javascript:void(0)" class="button menu">Обратно в меню</a></li>
        </ul>
    </div>
    <div id="game-over-overlay"></div>
    <div id="game-over">
        <h2>Вы набрали <span id="score"></span> очков!</h2>
        <input type="text" placeholder="Введите ваше имя" maxlength="15" autofocus>
        <div class="errorName">Недопустимое имя</div>
        <ul>
            <li><a href="javascript:void(0)" class="button restart">Начать сначала</a></li>
            <li><a href="javascript:void(0)" class="button menu">Меню</a></li>
        </ul>
    </div>
</div>

<script type="text/template" id="recordTemplate">
        <td><%= place %></td>
        <td><%- name %></td>
        <td><%= scores %></td>
</script>

<script type="text/template" id="tableTemplate">

</script>
<script src="src/js/game.js"></script>
</body>
</html>
